<!DOCTYPE html>
<html lang="en">
    <style>
        .sec1{
            border: 2px solid red;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'home'%}"> Home</a>
        <a href="{% url 'CreateView' %}"> <button>add a blog</button></a>
    </nav>
    <h1> Create PAge</h1>

    <form action="" method="post">
        {% csrf_token %}

   <input type="text" name="name" id="" placeholder="name"> 
        <br>

        <input type="email" name="email" id="" placeholder="email">
        <br> <br>

        <textarea name="description" id="" cols="30" rows="10"></textarea>

        <button type="submit"> submit </button>
    </form>

</body>
</html>